body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

.search {
    display: flex;
    justify-content: left;
    text-align: center;
    margin-top: 20px;
    position: relative;
}
.logo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 15%;
    width: 20%;
}
input.search {
    border-radius: 10px;
    width: 350px;
    height: 50px;
}
button {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    margin-top: 20px;
}
img{
    height: 25%;
    width: 20%;
}
header {
    background-color: gray;
    color: white;
    padding: 10px 0;
}
  
  #photo-details {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
#order_img {
    width: 100%;
    height: 450px; /* Customize the height as needed */
    object-fit: fill;
}
  
  #photo-info {
    padding: 20px;
  }
  
  #offer-image {
    width: 100%;
    height: 280px; /* Customize the height as needed */
    object-fit: cover;
    margin-top: 20px;
  }
  
  #buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .active {
    background-color: #555;
  }
  
  #restaurant-list {
    padding: 20px;
  }
.restaurant {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .restaurant-photo {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  .links{
    margin: 0 auto;
    position: absolute;
    top: 0;
    justify-content: right;
    align-items:end;
    overflow: hidden;
  }
.links a{
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffff00;
    margin-right: 10px;
  }
  .align{
    margin-left: 1050px;
  }
  .nav-top-bar{
    background-color: #1a1a1a;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}